       <p>
 
	 name  :<%=calculate.pipe %>
  </p>

  <p>
	dia1 : <%=dh=calculate.d1 %>
  </p>


  <p>
	dis2 :<%=calculate.dis2 %>
  </p>



  <p>
	pre1   :<%=calculate.pre1  %>
  </p>

  <p>
	pre2   :<%=calculate.pre2  %>
  </p>

  <p>
	disofp1   :<%=calculate.disofp1 %>
   </p>

   <p>
	disofp2   : <%=calculate.disofp2  %>
   </p>

   
   <p>
	fluid  :<%=calculate.fluid %>
   </p>

   <p>
	flow_rate   : <%=calculate.flow_rate %>
   </p>

   <p>
	pump_eff   : <%=calculate.pump_eff %>
   </p>

    <p>
	pump_work   : <%=calculate.pump_work  %>
    </p>

    <p>
	fittings   : <%=calculate.fittings  %>
    </p>

   <p>
	type      :<%=calculate.type %>
    </p>



   <p>
	dia 1     :<%=calculate.dia1 %>
   </p>

   <p>
	dia 2   :<%=calculate.dia2%>
    </p>